Repository onesoft-sudo/sudobot, pull requests merged in 2022-10, with the labels that each got.

#82 fix: update config schema
  .gitpod.yml
  src/api/controllers/ConfigController.ts
  src/client/Config.ts
Labels: priority:medium, fix, api

#85 fix: afk systems not working
  src/services/AFKEngine.ts
Labels: priority:medium, fix

#87 refactor: queue jobs
  package.json
  src/client/Client.ts
  src/commands/.gitignore
  src/events/ready/ReadyEvent.ts
  src/models/QueuedJob.ts
  src/queues/SendMessageQueue.ts
  src/services/QueueManager.ts
  src/utils/structures/Queue.ts
  src/utils/util.ts
Labels: priority:medium, non-moderation, refactor

#90 feat: add paginator class
  src/utils/Pagination.ts
Labels: feature, priority:high, non-moderation

#92 fix: warning command permissions
  src/commands/moderation/WarnCommand.ts
Labels: priority:high, important, fix

#93 feat: make the spotify status song name clickable
  src/commands/information/ProfileCommand.ts
Labels: feature, priority:medium, non-moderation

#94 Update AboutCommand.ts
  src/commands/settings/AboutCommand.ts
Labels: priority:high, important, appearance

#96 docs: update readme
  README.md
Labels: documentation, priority:high

#104 Updated the methods to contact.
  docs/legal/privacy.md
Labels: documentation, priority:high, important

#105 fix: do not unmute user if not muted
  src/automod/ProfileFilter.ts
Labels: priority:high, fix, semver:patch

#108 docs: update home page
  docs/index.md
Labels: documentation, priority:high

#109 docs: update support discord server name
  README.md
Labels: documentation, priority:high, important

#112 fix(automod): profile filter interfering with manual mutes
  src/automod/ProfileFilter.ts
Labels: priority:high, automod, fix, semver:patch

#114 fix(pagination): update button emoji orders
  src/utils/Pagination.ts
Labels: priority:high, fix, semver:patch

#115 perf(shots): fix performance issues of shot command
  src/commands/moderation/ShotCommand.ts
Labels: priority:high, fix, semver:patch, performance

#118 feat(profile): show permission percentage
  src/commands/information/ProfileCommand.ts
Labels: feature, priority:high, important, non-moderation, semver:minor

#119 feat(spam_filter): custom spam warning message
  src/automod/SpamFilter.ts
Labels: feature, priority:high, important, automod, semver:minor

#121 fix(auth): bot owner(s) can run any command
  src/services/Auth.ts
Labels: priority:high, important, fix, semver:patch

#122 feat(debug-logging): better logging
  src/client/Client.ts
  src/events/debug/DebugEvent.ts
  src/services/DebugLogger.ts
Labels: feature, priority:high, important, semver:minor

#123 feat(automod): add autoresponder
  src/automod/AutoResponder.ts
  src/automod/Common.ts
  src/automod/MessageFilter.ts
  src/client/Client.ts
  src/events/message/MessageCreateEvent.ts
  src/events/message/MessageUpdateEvent.ts
Labels: feature, priority:high, important, automod, semver:minor

#124 feat(commands): add message saving command
  deploy-commands.js
  src/commands/moderation/SaveMessageCommand.ts
Labels: priority:high, semver:minor, commands
